<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayur Chavan</title>
</head>
<body>
    <form action="">
        Itemname: <input type="text" name="itemname" id="itemname" [(ngModel)]="itemname">
        Quantity: <input type="text" name="quantity" id="quantity" [(ngModel)]="quantity">
        Price: <input type="text" name="price" id="price" [(ngModel)]="price">
        Desc: <input type="text" name="desc" id="desc" [(ngModel)]="desc">
        <button type="button" name="btn" id="btn" (click)="addProduct()">submit</button>
    </form>
</body>
</html>
